<div class="card mb-0 agent-usage">
  <div class="flex justify-between mb-4">
    <div class="flex flex-row items-center">
      <i class="pi pi-comment mr-2"></i>
      <span class="block text-xl font-bold">User Frustrations</span>
    </div>
  </div>
  <div class="flex justify-between mb-4">
    <div>
      <span class="text-5xl font-bold mb-4">{{ totalRuns | shortNumber }}</span
      ><span class="font-normal ml-2">runs</span>
    </div>
   
  </div>
  <p-table [value]="models" [rows]="4" [scrollable]="true" scrollHeight="240px">
    <ng-template pTemplate="header">
      <tr>
        <th>Frustrations</th>
        <th>Runs</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-model>
      <tr>
        <td class="text-lg font-bold">
          {{model.reason_name}}
        </td>
        <td class="text-lg font-bold">{{ model.reason_cnt | shortNumber }}</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3">
          <empty-state-widget message="No data found."></empty-state-widget>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
