.danger {
  color: var(--flowx-error, #e62200);
}

.success {
  background-color: rgba(0, 128, 96, 0.20); // flowx-green-500 tint
  border: 1px solid var(--flowx-green-500, #008060);
  height: 40px;
  border-radius: 4px;
  margin: 1px;
}


