.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 6rem 2rem 3rem 2rem;
    margin-left: 264px;
    transition: margin-left $transitionDuration;
}

.layout-main {
    flex: 1 1 auto;
}


.layout-minimal-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
    padding: 7rem 2rem 2rem 2rem;
    transition: margin-left $transitionDuration;
}

.layout-minimal-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100hw;
}
@media (max-width: 1199px) {
    .layout-main-container {
        margin:0;
    }
}