.docs-layout-content {
    padding: 6rem 1.5rem 0 1.5rem;
    display: flex;

    .docs-layout-content-slot {
        flex: 1 1 auto;
        width: 1%;
        padding-top: .5rem;
    }
}

.card {
    background: var(--surface-card);
    border: var(--card-border);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}
