<div class="stat-card llm-usage" style="flex-direction: column; align-items: stretch;">
  <div class="flex items-center gap-3 mb-3">
    <div class="stat-card__icon">
      <i class="pi pi-box"></i>
    </div>
    <span class="stat-card__title">LLM Usage</span>
  </div>
  <div class="flex justify-between mb-4">
    <div>
      <span class="stat-card__value--lg">{{totalTokens | shortNumber}}</span>
      <span class="stat-card__label ml-2">tokens</span>
    </div>
    <div>
      <span class="stat-card__value--lg">{{totalCost | currency}}</span>
      <span class="stat-card__label ml-2">cost</span>
    </div>
  </div>
  <p-table [value]="models" [rows]="4" [scrollable]="true" scrollHeight="240px">
    <ng-template pTemplate="header">
      <tr>
        <th>Model</th>
        <th>Tokens</th>
        <th>Cost</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-model>
      <tr>
        <td style="width: 60%"><p-chart type="bar" [height]="'40px'" [width]="'100%'" [responsive]="true" [data]="model.chartData" [options]="model.chartOptions"></p-chart></td>
        <td class="text-lg font-bold">{{ model.prompt_tokens + model.completion_tokens | shortNumber }}</td>
        <td class="text-lg font-bold">{{ model.cost | currency }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3"><empty-state-widget message="No data found."></empty-state-widget></td>
      </tr>
    </ng-template>
  </p-table>
</div>
