.danger {
  color: var(--flowx-error, #e62200);
}

.success {
  background-color: var(--primary-200);
  border: 1px solid var(--primary-500);;
  height: 40px;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 80%;
 
}

.container {
  padding: 2px;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}
