<div class="stat-card stat-card--stacked">
  <div class="card-title">
    <i class="pi pi-chart-line"></i>
    {{ title }}
  </div>
  <p-chart
    type="line"
    [data]="chartDataReqNo"
    [options]="chartOptionsReqNo"
  ></p-chart>
  <p-chart
    type="line"
    [data]="chartDataReqTime"
    [options]="chartOptionsReqTime"
  ></p-chart>

  <div class="flex flex-col items-stretch">
    <p class="text-sm m-0 p-0 mt-2" style="color: var(--text-color-secondary);">Success Rate</p>
    <div class="flex w-full container">
      @for (item of [].constructor(period); track item; let i = $index) {
        <div
          class="flex items-center border success w-full"
        ></div>
      }
    </div>
  </div>
</div>
