<div class="stat-card stat-card--stacked">
  <div class="card-head">
    <div class="card-title">
      <i class="pi pi-chart-line"></i>
      {{ title }}
    </div>
    @if (showTrend) {
      <div
        class="flex flex-row items-center"
        [ngClass]="trendValue < 0 ? 'danger-label' : 'success-label'"
      >
        <i
          class="pi mr-2"
          [ngClass]="trendValue < 0 ? 'pi-arrow-down' : 'pi-arrow-up'"
        ></i>
        <span class="block font-bold">{{ trendValue }}<span class="ml-2">%</span></span>
      </div>
    }
  </div>
  <div class="flex justify-between mb-4">
    <div>
      <span class="stat-card__value--lg">{{ value }}</span>
    </div>
  </div>
  <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
</div>
